# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a


*.obj
*.exe
*.sln

*.ilk
*.pdb
*.opensdf
*.sdf
*.suo
*.tlog
*.log
*.user
*.filters
*.manifest
*.idb
*.lastbuildstate
*.ipch
*.bmp